@{
    ViewData["Title"] = "Home Page";
}
@model BookListViewModel

<header>
    <h1>Welcome to Famazon: the Fake Amazon</h1>
</header>

<h4>Current List of Books</h4>

<table class="table-bordered table-dark col-12">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>ISBN</th>
            <th>Classification</th>
            <th>Category</th>
            <th>Price</th>
            <th># of Pages</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var b in Model.Books)
        {
            <tr>
                <td>@b.Title</td>
                <td>@b.AuthorLastName, @b.AuthorFirstName @b.AuthorMiddleInit</td>
                <td>@b.Publisher</td>
                <td>@b.ISBN</td>
                <td>@b.Classification</td>
                <td>@b.Category</td>
                <td>$@b.Price</td>
                <td>@b.PageNum pgs</td>
            </tr>
        }
    </tbody>
</table>

<!--the dynamically created page numbers, also has the bootstrapping for the page number buttons-->
<div page-model="@Model.PagingInfo"
     page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-danger" class="btn-group pull-right m-1"
     ></div>